.home-container {
  padding: 40px;
  color: #000;
  letter-spacing: 1.5px;
}

.home-container h1 {
  font-size: 48px;
}

.home-container h3 {
  font-size: 24px;
  color: #7e7e7e;
  letter-spacing: 1.1px;
}

.start-button {
  margin-top: 25px;
  color: #fff;
}